<template name="calendarPage">
	{{> calendarNavMulti date=startDate}}
	<div class="container calendar-container">
		<div class="page-component">
			{{#if Template.subscriptionsReady}}
				{{#each day in days}}
					{{> calendarDay day=day filter=instance.filter}}
					<hr>
				{{/each}}
			{{else}}
				{{> loadingRow}}
			{{/if}}
		</div>
	</div>
</template>

<template name="calendarDay">
	<div class="js-calendar-date calendar-date">
		{{calendarDayFormat day.start}}
	</div>
	{{#if hasEvents}}
		<div class="calendar-event-list">
			{{> eventList dataEvents=events withDate=false withImage=true}}
		</div>
	{{else}}
		<br>
		{{i18n 'calendar.noCoursesThisDay' "There are no events on this day"}}
	{{/if}}
</template>
