<template name='editable'>
	<div class="editable-wrap {{wrapClasses}} {{errorClass 'input'}}">
		<div class="js-editable editable {{editableClasses}}"></div>
		{{#unless showControls}}
			<span class="fa-solid fa-pencil editable-icon js-editable-edit"></span>
		{{/unless}}
		{{errorMessage 'input'}}
	</div>
	{{#if showControls}}
		{{> editableControls}}
	{{/if}}
</template>

<template name='editableControls'>
	<div class='editable-controls'>
		{{> buttonSave event="js-editable-save"}}
		{{> buttonCancel event="js-editable-cancel"}}
	</div>
</template>
