<template name="accountTasks">
	<div class="modal account-tasks js-account-tasks" id="accountTaskModal" tabindex="-1"
		 role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						{{#if activeAccountTask 'login'}}
							{{#if pleaseLogin}}
								<i class="fa-solid fa-circle-exclamation fa-fw"
								   aria-hidden="true"></i>
								{{i18n 'Please.login' 'Please log in or register'}}
							{{else}}
								<i class="fa-solid fa-right-to-bracket fa-fw"
								   aria-hidden="true"></i>
								{{i18n 'login.login.title' 'Log in'}}
							{{/if}}
						{{/if}}
						{{#if activeAccountTask 'register'}}
							<i class="fa-solid fa-user-plus fa-fw" aria-hidden="true"></i>
							{{i18n 'login.register.submit'}}
						{{/if}}
						{{#if activeAccountTask 'recoverPwd'}}
							<i class="fa-solid fa-unlock fa-fw" aria-hidden="true"></i>
							{{i18n 'login.recoverPwd.title' 'Recover Password'}}
						{{/if}}
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{#if activeAccountTask 'register'}}
						{{> registerFrame}}
					{{else}}
						{{#if activeAccountTask 'recoverPwd'}}
							{{> forgotPwdFrame}}
						{{else}}
							{{> loginFrame}}
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="loginFrame">
	<form>
		<div class="login">
			<div class="mb-3 {{errorClass 'username'}}">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa-solid fa-user fa-fw" aria-hidden="true"></span>
					</span>
					<input class="form-control js-username"
						   placeholder="{{i18n 'frame.login.usernameOrEmail' 'Username or e-mail address' attr=true}}"
						   type="text" />
				</div>
				{{errorMessage 'username'}}
			</div>
			<div class="mb-3 {{errorClass 'password'}}">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa-solid fa-lock fa-fw" aria-hidden="true"></span>
					</span>
					<input class="form-control js-password"
						   placeholder="{{i18n '_inputField.password' attr=true}}"
						   type="password" />
				</div>
				{{errorMessage 'password'}}
			</div>
			<div class="mb-3 text-end">
				<button type="button" class="btn btn-link p-0 js-forgot-pwd-btn">
					<span class="fa-solid fa-circle-exclamation fa-fw" aria-hidden="true"></span>
					{{i18n 'forgot' "I forgot my password"}}
				</button>
			</div>
			<div class="mb-3">
				<button type="submit" class='btn btn-secondary js-login form-control'
						{{disabledIfBusy}}>
					{{#if busy 'logging-in'}}
						<span class="fa-solid fa-circle-notch fa-spin fa-fw"
							  aria-hidden="true"></span>
						{{i18n 'login.login.submit.busy' 'Logging in…'}}
					{{else}}
						{{i18n 'login.login.submit' 'Log in'}}
					{{/if}}
				</button>
			</div>
			<hr>
			{{#each service in OAuthServices}}
				<div class="row g-2 align-items-center">
					<div class="col">
						<button class="btn btn-{{service.key}} form-control js-oauth-btn my-2"
								data-service="{{service.serviceName}}" type="button"
								{{disabledIfBusy}}>
							{{#if busy service.serviceName}}
								<span class="fa-solid fa-circle-notch fa-spin fa-fw"
									  aria-hidden="true"></span>
								{{i18n 'login.OAuth.busy' 'Logging in with'}}
							{{else}}
								<span class="fa-brands fa-{{service.key}} fa-fw"
									  aria-hidden="true"></span>
								{{i18n 'login.OAuth.loginWith' 'Login with'}}
							{{/if}}
							{{service.name}}
						</button>
					</div>
					<div class="col-auto">
						<a class="text-muted" data-bs-toggle="collapse" href="#{{service.key}}-info"
						   role="button" aria-expanded="false" aria-controls="{{service.key}}-info">
							<i class="fa-solid fa-circle-info fa-lg" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="collapse" id="{{service.key}}-info">
					<div class="text-muted">
						{{i18n 'login.OAuth.info' '{SITENAME} is getting your user-information (username, e-mail address, …) from that service. It will not grant access to data or info about your activity here, except the fact that you logged in.' SITENAME=siteName}}
					</div>
				</div>
			{{/each}}
			<hr>
			<div class="mb-3">
				<button class="btn btn-add form-control js-register-open" type="button">
					{{i18n 'login.register.submit' 'Create account'}}
				</button>
			</div>
		</div>
	</form>
</template>

<template name="registerFrame">
	<form>
		<div class="mb-3 {{errorClass 'username'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa-solid fa-user fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-username" type="text"
					   placeholder="{{i18n 'frame.login.username' 'Username' attr=true}}" />
			</div>
			{{errorMessage 'username'}}
		</div>
		<div class="mb-3 {{errorClass 'password'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa-solid fa-lock fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-password"
					   placeholder="{{i18n '_inputField.password' attr=true}}" type="password" />
			</div>
			{{errorMessage 'password'}}
		</div>
		<div class="mb-3 {{errorClass 'email'}}">
			<div class="input-group">
				<span class="input-group-text">
					<span class="fa-solid fa-envelope fa-fw" aria-hidden="true"></span>
				</span>
				<input class="form-control js-email"
					   placeholder="{{i18n 'frame.login.email' 'E-Mail' attr=true}}" type="email" />
			</div>
			{{errorMessage 'email'}}
		</div>
		<div class="mb-3">
			<span class="register-mail-disclaimer">
				{{i18n 'login.frame.register.mailDisclaimer' 'Providing an e-mail address allows other users to contact you and is needed to recover your password in case you forget it.'}}
			</span>
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-add form-control js-register" {{disabledIfBusy}}>
				{{#if busy 'registering'}}
					<span class="fa-solid fa-circle-notch fa-spin fa-fw" aria-hidden="true"></span>
					{{i18n 'login.register.submit.busy' 'Registering…'}}
				{{else}}
					{{i18n 'login.register.submit'}}
				{{/if}}
			</button>
		</div>
		<hr>
		<div class="mb-3">
			<button class="js-back-to-login btn btn-secondary form-control" type="button">
				{{i18n 'login.register.backToLogin' 'Go back to login'}}
			</button>
		</div>
	</form>
</template>

<template name="forgotPwdFrame">
	<form class="js-reset-pw">
		<div class="forgot_login">
			<p>
				{{i18n 'forgot.explanation' "An e-mail allowing you to reset your password can be sent. This is only possible if you've provided an e-mail address"}}
			</p>
			<div class="mb-3">
				<div class="input-group">
					<span class="input-group-text">
						<span class="fa-solid fa-envelope"></span>
					</span>
					<input class="form-control js-reset-pw-email"
						   aria-describedby="forgotPwdMailHelp"
						   placeholder="{{i18n 'frame.login.email' 'E-Mail' attr=true}}"
						   type="email" />
				</div>
				{{#if noValidEmail}}
					<span id="forgotPwdMailHelp" class="form-text">
						{{i18n 'forgot.notValid' "Please enter the address you signed up with."}}
					</span>
				{{/if}}
			</div>
			<div class="mb-3">
				<button class="btn btn-save js-reset-pwd-btn form-control"
						disabled="{{#if noValidEmail}}disabled{{/if}}" type="submit"
						{{disabledIfBusy}}>
					{{#if busy 'requesting-pw-reset'}}
						<span class="fa-solid fa-circle-notch fa-spin fa-fw"
							  aria-hidden="true"></span>
						{{i18n 'forgot.send.busy' 'Resetting password…'}}
					{{else}}
						{{i18n 'forgot.send' 'Reset my password'}}
					{{/if}}
				</button>
			</div>
			<div class="mb-3">
				<button type="button" class="btn btn-cancel js-reset-pwd-close-btn form-control">
					{{i18n '_button.cancel'}}
				</button>
			</div>
		</div>
	</form>
</template>
