<template name="calendarNavWeek">
	<div class="calendar-nav-container text-center">
		<div class="row align-items-center p-2">
			<div class="col-md-3 col-lg-4 p-1">
				{{> searchField searchFieldAttr}}
			</div>
			<div class="col-md-6 col-lg-4 p-1">
				<div class="row justify-content-center align-items-center text-center">
					{{#unless hideSwitches}}
						{{> calendarNavWeekControl direction='previous'}}
					{{/unless}}
					<div class="col-auto">
						<div class="lead">
							{{i18n "calendar.weekNumber" "Week"}} {{weekNr date}}
						</div>
						<div>
							<span class="d-none d-md-inline-block">{{dateLong date}} -
								{{dateLong (endDateTo date)}}</span>
							<span class="d-md-none">{{dateShort date}} -
								{{dateShort (endDateTo date)}}</span>
						</div>
					</div>
					{{#unless hideSwitches}}
						{{> calendarNavWeekControl direction='next'}}
					{{/unless}}
				</div>
			</div>
			<div class="row align-items-center p-2">
				{{#if availableGroups}}
					<div class="col-md-3 col-lg-2 p-2">
						{{> filterGroups filterGroupsAttr}}
					</div>
					<div class="col-md-3 col-lg-2 p-2">
						{{> filterCategories filterCategoriesAttr}}
					</div>

				{{else}}
					<div class="offset-lg-2 col-md-4 col-lg-2 p-1">
						{{> filterCategories filterCategoriesAttr}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="calendarNavWeekControl">
	<div class="col-auto px-4">
		<button type="button" class="btn btn-secondary js-change-date">
			{{arrow}} <span class="d-none d-md-inline-block">{{text direction 'short'}}</span>
		</button>
	</div>
</template>

<template name="calendarNavWeekDynamicTranslations">
	This template holds translation strings that are constructed dynamically in this component

	{{i18n 'calendar.previous.week.short' 'previous week'}}
	{{i18n 'calendar.next.week.short' 'next week'}}
</template>
