<template name="kioskLink">
	{{#if link}}
		<div>
			<a href="{{link}}">
				<button type="button" class="back-to-kiosk">
					{{i18n 'backToKiosk' 'Return to overview'}}
				</button>
			</a>
		</div>
	{{/if}}
</template>
