.tooltip {
	background: $brand-primary;
	border-radius: 4px;
	box-shadow: $shadow-sm-offset-x $shadow-sm-offset-y $shadow-sm-blur $default-shadow;
	color: $body-bg;
	display: none;
	font-size: $font-size-base;
	padding: 5px 7px;
	pointer-events: none;
	text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 1px;
	white-space: nowrap;
	z-index: $zindex-tooltip;

	&::after {
		border-color: $brand-primary transparent transparent;
		border-style: solid;
		border-width: 10px;
		content: '';
		height: 0;
		left: calc(#{'50% - 10px'});
		position: absolute;
		width: 0;
	}

	&.show {
		display: block;
	}
}

.tooltip-inner {
	max-width: none;
}

.tooltip--right::after {
	border-color: transparent $brand-primary transparent transparent;
	left: -15px;
	top: 5px;
}

.tooltip--left::after {
	border-color: transparent transparent transparent $brand-primary;
	left: auto;
	right: -15px;
	top: 5px;
}

.tooltip-compact {
	max-width: 200px;
	white-space: normal;
}
